/*Wildcard asteriks selctor to override default styles added by browser*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/*Header*/
header{
    background:lightblue;
}
/*Main*/
main{
    background:lightcoral;
}
/*Footer*/
footer{
    background:orange;
}